<!doctype html>
<html lang="en">
<head>
  <link href="../../assets/styles/header.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Improved Header</title>
</head>
<body>
  <main>
    <header class="p-3 bg-dark text-white position-fixed top-0 w-100 shadow">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <a href="/">
            <svg class="bi me-2" width="40" height="20" role="img">
            </svg>
          </a>
  
          <ul class="nav">
            <li><a href="../../index.html" class="nav-link px-2 text-secondary"><img src="../../assets/images/home.png" alt="Home" width="40"></a></li>
            <li>
              <form class="a1">
                <input type="search" class="form-control-header" placeholder="Search page" aria-label="Search">
              </form>
            </li>
          </ul>
  
          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
          </div>
        </div>
      </div>
    </header>
  </main>
</body>
</html>
